.titulo1{
background-color:#FFBF00;
color:#252522;
margin-bottom:0;
margin-top:0;}

h3{
color: white;
text-shadow: 2px 2px black;}

.navfundo{
background: #252522;   }

.navtexto{
color:#FFBF00;    }

.titulo2{
background: #252522;
    COLOR:#FFBF00;
 
    padding: inherit;
    text-align: center;      
    width: auto;
    height: 100px;}




