{% extends "portal/base.html" %}
{% load static %}
{% block content %}
Receita de sagu de vinho
Ingredientes

2 xícaras de sagu

4 xícaras de vinho tinto

açúcar a gosto

6 xícaras de água
Sagu de vinho
Sagu de vinho

Modo de preparo

Comece a receita deixando o sagu de molho por 15 minutos em uma travessa com água.

Depois desse tempo, escorra a água.

Coloque o sagu para ferver em uma panela só com água por uns 10 a 15 minutos, sempre mexendo.

Após os 15 minutos ou assim que algumas bolinhas começarem a ficar transparentes, despeje o conteúdo da panela em um escorredor de macarrão e os lave com água corrente.

Enquanto o sagu está escorrendo, coloque na panela o vinho, o açúcar e uma xícara de água.

Leve ao fogo baixo e quando começar a ferver, acrescente o sagu.

Espere cozinhar por aproximadamente 15 minutos, até que todas as bolinhas fiquem transparentes.

Quando atingir esse ponto, desligue o fogo e coloque em um recipiente.

Aguarde esfriar antes de servir.
Sagu de vinho: um prato delicioso de festa junina
{% endblock content %}