{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="keywords" content="investimentos, onde investir">

    {# Metatags - Alex Refactor #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Boostrap4 + CSS custom - Alex Refactor #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/portal/css/style.css">
    <link rel="stylesheet" href="../../static/portal/css/owl.carousel.css">

    {# Font Noto Sans - Alex Refactor #}
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">


    {# Icone - Alex Refactor #}
    <link rel="icon"
          type="image/png"
          href="../../static/portal/img/icon.png">

    {# Se não tiver título, carrega o padrão localizado no arquivo views.py #}
    {% if title %}
        <title>Meu Tesouro - {{ title }}</title>
    {% else %}
        <title>Meu Tesouro</title>
    {% endif %}
</head>

<body>

<!-- INICIO - NAVBAR -->
<nav class="navbar navbar-expand-sm navbar-dark fixed-top fundo-azul d-flex justify-content-between">
    <a class="navbar-brand font-weight-bold" href="{% url 'portal-home' %}">
        <img src="../../static/portal/img/logomt.png" alt="logotipo meu Tesouro"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Alterna navegação">
        <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto mt-4 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link font-noto align-text-top" href="{% url 'portal-titulos' %}">Títulos</a>
            </li>
            <li class="nav-item font-noto">
                <a class="nav-link" href="#">Informações</a>
            </li>
            <li class="nav-item font-noto">
                <a class="nav-link " href="#">Contato</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn btn-outline-light font-noto" role="button"
                   aria-pressed="true">Perfil</a>
                <a href="{% url 'logout' %}" class="btn btn-outline-light font-noto" role="button" aria-pressed="true">Sair</a>
            {% else %}
                <a href="{% url 'registrar' %}" class="btn btn-outline-light font-noto" role="button"
                   aria-pressed="true">Cadastre-se</a>
                <a href="{% url 'login' %}" class="btn btn-outline-light font-noto" role="button" aria-pressed="true">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

<br><br>
<!-- Indicadores de inflação e taxas-->
<div class="latest-news-section">
    <div class="ln-title font-noto">
        Indices:
    </div>
    <div class="news-ticker">
        <div class="news-ticker-contant">
            <div class="nt-item">
                <span class="new font-noto">Dolar - R$ 3,85</span>
            </div>
            <div class="nt-item ">
                <span class="strategy font-noto">Euro - R$ 4,34</span>
            </div>
            <div class="nt-item">
                <span class="racing font-noto">CDI - 6,42%</span>
            </div>
            <div class="nt-item">
                <span class="new font-noto">SELIC - 6,50%</span>
            </div>
            <div class="nt-item">
                <span class="strategy font-noto">IPCA - 4,66%</span>
            </div>
            <div class="nt-item">
                <span class="racing font-noto">Poupança - 4,55%</span>
            </div>
        </div>
    </div>
</div>

<!-- Fim cotações -->

<!--Abaixo printa as mensagens de alerta se existirem-->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% block content %}{% endblock %}

<nav class="navbar navbar-dark fundo-azul-escuro fixed-bottom">
  <span class="navbar-text font-noto footer-copyright">
      Alex R, Bruno G, Bruno R, Gilmar T © 2019
  </span>
</nav>

{# Boostrap4 js's - Alex Refactor #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{# Owl carousel - Alex Refactor #}
<script src="../../static/portal/js/owl.carousel.min.js"></script>
<script src="../../static/portal/js/jquery.marquee.min.js"></script>
<script src="../../static/portal/js/main.js"></script>

{# Card slide imports - Alex Refactor #}
<script src="../../static/portal/js/script.js"></script>

</body>
</html>