{% extends "portal/base.html" %}
{% load static %}
{% block content %}

    <head>
        <title>Login</title>
    </head>
    <body>

    <!-- FORMULARIO DE CONTATO -->
    <div class="container contact-form font-noto">
        <div class="contact-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            <h2>Contate-nos</h2>
            <br/>
        </div>
        <form id="form1" name="contato" method="post" action="contato.php">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="empresa" id="empresa" class="form-control" placeholder="Empresa *"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nome" id="nome" class="form-control" placeholder="Seu Nome *"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Seu Email *"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="telefone" id="telefone" class="form-control"
                               placeholder="Seu Telefone *"/>
                    </div>
                    <div class="form-group">
                        <textarea name="mensagem" id="mensagem" class="form-control" placeholder="Sua Mensagem *"
                                  style="width: 100%; height: 150px;"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="enviar" class="btn text-white bg-dark" value="Enviar">Enviar
                        </button>
                    </div>
                </div>
                <!-- TABELA DE CONTATO -->
                <div class="col-md-6">
                    <div class="container">
                        <table class="table  table-sm">
                            <thead class="text-white bg-dark">
                            <tr>
                                <th>Email</th>
                                <th>Telefone</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>marketing@meutesouro.com.br</td>
                                <td>(19)3888-8105</td>
                            </tr>
                            <tr>
                                <td>financeiro@meutesouro.com.br</td>
                                <td>(19)3888-8105</td>
                            </tr>
                            <tr>
                                <td>adm@meutesouro.com.br</td>
                                <td>(19)3888-8105</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Google map-->
    <div class="container-fluid">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941383.6511581029!2d-47.10250914457793!3d-22.829132233234333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8b4b183d3173b%3A0xe4e10e5dd84bd49e!2sFatec+Indaiatuba+-+Faculdade+de+Tecnologia+de+Indaiatuba!5e0!3m2!1spt-BR!2sbr!4v1560476078084!5m2!1spt-BR!2sbr"
                    width="100%" ; height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div><!--Google Maps-->
    </body>

{% endblock content %}