{% extends "portal/base.html" %}
{% load static %}
{% block content %}
    <!-- INICIO COROUSEL -->
    <div class="espaco-header"></div>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- slideshow -->
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img class="d-block w-100 imagem-carrosel" src="../../static/portal/img/101.jpg" alt="img1">
                <div class="carousel-caption h-50">
                    <h3 class="text-light font-noto font-carrosel">Informações sobre investimentos</h3>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100 imagem-carrosel" src="../../static/portal/img/102.jpg" alt="img2">
                <div class="carousel-caption h-50">
                    <h3 class="text-light font-noto font-carrosel">Descomplicando jargões e mitos</h3>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100 imagem-carrosel" src="../../static/portal/img/103.jpg" alt="img3">
                <div class="carousel-caption h-50">
                    <h3 class="text-light font-noto font-carrosel">Está esperando o que?</h3>
                </div>
            </div>

        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    {# inicio carrosel de cards#}

    <div class="card-deck font-noto mr-3 ml-3 mt-3 align-self-auto">
        <div class="card p-2" style="max-width:21rem;">
            <img class="card-img-top mx-auto" src="../../static/portal/img/logoativa.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-center">126,00% CDI - LC</h4>
                <p class="card-text text-center">AVISTA FINANCEIRA</p>
                <p class="card-text text-center">Vencimento: 13/06/2024</p>
            </div>
        </div>
        <div class="card p-2" style="max-width:21rem;">
            <img class="card-img-top " src="../../static/portal/img/tesouro.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-center">7,90% - TD</h4>
                <p class="card-text text-center">Prefixado Juros Semestrais</p>
                <p class="card-text text-center">Vencimento: 01/01/2029 </p>
            </div>
        </div>
        <div class="card p-2" style="max-width:21rem;">
            <img class="card-img-top " src="../../static/portal/img/logoorama.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-center">10,34% - CDB</h4>
                <p class="card-text text-center">Banco Máxima</p>
                <p class="card-text text-center">Vencimento: 18/05/2026 </p>
            </div>
        </div>
        <div class="card p-2" style="max-width:21rem;">
            <img class="card-img-top " src="../../static/portal/img/logoorama.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title text-center">7,11% - LCI</h4>
                <p class="card-text text-center">Banco ABC Brasil</p>
                <p class="card-text text-center">Vencimento: 08/12/2020 </p>
            </div>
        </div>
    </div>
{% endblock content %}
