{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <main role="main" class="container font-noto">
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="content-section">
                    <div class="media">
                        <div class="media-body">
                            <h1 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h1>
                            <p class="text-secondary">{{ user.email }}</p>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Informações do perfil</legend>
                            {{ u_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn fundo-azul-escuro text-white" type="submit">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}