.icones-footer {
    height: 25px !important;
}

.font-noto {
    font-family: 'Noto Sans CJK JP Bold', sans-serif;
}

.fundo-azul {
    background-color: #005975 !important;
}

.fundo-azul-escuro {
    background-color: #002e40 !important;
}

.espaco {
    padding-left: 5px
}

.espaco-header {
    padding-top: 0px !important;
}

.font-carrosel{
    text-shadow:#000 -2px -2px
}

.imagem-carrosel {
    object-fit: cover !important;
    height: 280px !important;
}

----------------------------
css card slider
