{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <link rel="icon" type="image/png" href="img/logo.jpg"/>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <!--Abaixo, evita referência bruta em cima do css-->
      <link rel="stylesheet" href="{% static 'portal/css.css'%}"/>
      <!--Os títulos serão colocados direto pelo django,
      buscando no arquivo urls.py dentro de 'meu_tesouro_app'-->
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>Meu Tesouro | Inicio</title>
      {% endif %}
  </head>
  <body>
    <h4 class="titulo1">Hello!</h4>
    <!-- MENU - NAV -->
    <nav class="navbar navfundo navbar-expand-lg navbar-dark ">
      <a class="navbar-brand text-warning" href="/" ><img src="img/logo.png" width="150px"; height="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link text-warning" href="#">Inicio<span class="sr-only">(Página atual)</span></a>
          </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conheça</a>

            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color:#252522 ">
              <a class="dropdown-item text-warning" href="#">Ação</a>
              <a class="dropdown-item text-warning" href="#">Outra ação</a>
              <a class="dropdown-item text-warning" href="#">Algo mais aqui</a>
            </div>
          </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Simule</a>

            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color:#252522 ">
              <a class="dropdown-item text-warning" href="#">Ação</a>
              <a class="dropdown-item text-warning" href="#">Outra ação</a>
              <a class="dropdown-item text-warning" href="#">Algo mais aqui</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compare</a>

            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="background-color:#252522 ">
              <a class="dropdown-item text-warning" href="#">Ação</a>
              <a class="dropdown-item text-warning" href="#">Outra ação</a>
              <a class="dropdown-item text-warning" href="#">Algo mais aqui</a>
            </div>
          </li>
             <li class="nav-item">
            <a class="nav-link text-warning" href="#">Destaques</a>
          </li>
             <li class="nav-item">
            <a class="nav-link text-warning" href="#">Contato</a>
          </li>
        </ul>
      </div>
    </nav>
<!--Os itens acima farão parte do html base-->

    <!--Os itens abaixo devem ser colocados num arquivo html à parte.
      Ex.: home.html

      Como o conteúdo do cabeçalho irás repetir para todas as páginas, será criado um arquivo html base,
      todas as outras páginas irão herdar dessa base.
    -->
      <!-- Carousel -->
      <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li>
      </ul>

      <!-- slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="potato.jpeg" alt="img1" width=100% height=100%>
            <div class="carousel-caption">
            <h3>Está esperando o que?</h3>
            <p>Venha conhecer</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/potato.jpeg" alt="img2" width=100% height=100%>
        </div>
           <div class="carousel-caption">
            <h3>Está esperando o que?</h3>
            <p>Venha conhecer</p>
          </div>
        <div class="carousel-item">
          <img src="potato.jpeg" alt="img3" width=100% height=100%>
        </div>
           <div class="carousel-caption">
            <h3>Está esperando o que?</h3>
            <p>Venha conhecer</p>
          </div>
        <div class="carousel-item">
          <img src="potato.jpeg" alt="img4" width=100% height=100%>
        </div>
           <div class="carousel-caption">
            <h3>Está esperando o que?</h3>
            <p>Venha conhecer</p>
          </div>
        <div class="carousel-item">
          <img src="potato.jpeg" alt="img5" width=100% height=100%>
        </div>
           <div class="carousel-caption">
            <h3>Está esperando o que?</h3>
            <p>Venha conhecer</p>
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>


    <!-- Titulo2 -->
    <h2 class="titulo2">Saiba mais sobre nossa plataforma</h2>


    <!-- CARD -->
    <img src="potato.jpeg" alt="">
    <div class="container-fluid">
        <h1 class="text-center my-3">SLIDER CARD</h1>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto">


    <!-- CARD 1 PRINCIPAL -->
            <div class="carousel-item col-md-4 active">
              <div class="card">
                  <img class="card-img-top" src="img/carousel02.jpg" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title">Card 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
      </ul>
                  <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
              </div>

      <!-- CARD 2 -->
              <div class="carousel-item col-md-4">
                  <div class="card">
                      <img class="card-img-top" src="img/carousel03.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card 2</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Cras justo odio</li>
                          <li class="list-group-item">Dapibus ac facilisis in</li>
                      </ul>
                      <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                      </div>
                  </div>
              </div>

         <!-- CARD 3 -->
              <div class="carousel-item col-md-4">
                  <div class="card">
                      <img class="card-img-top" src="img/carousel04.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card 3</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Cras justo odio</li>
                          <li class="list-group-item">Dapibus ac facilisis in</li>
                      </ul>
                      <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                      </div>
                  </div>
              </div>

              <!-- CARD 4 -->
              <div class="carousel-item col-md-4">
                  <div class="card">
                      <img class="card-img-top" src="..." alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card 4</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Cras justo odio</li>
                          <li class="list-group-item">Dapibus ac facilisis in</li>
                      </ul>
                      <div class="card-body">
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
    <!--Fim home.html-->

    <!--Abaixo estará também no base.html-->
       <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
    
    
    
    
    
    
    
    
    
  
 